.login-container{
    background-color: #fff;
    width: 100%;
    margin: 40vh 20% 0 20%;
}

@media (max-width:900px){
    .login-container{
        margin: unset;
        margin-top: 40vh;
    }

}
@media (max-width:768px){
    .login-container{
        width: 150%;
    }

}