.products-list-compo-container {
  
  justify-content: space-between;
  margin: 1rem 10%;
  gap: 2rem;
}
.product-list-filter-section {
  flex: 1;
  background-color: #d07474;
  width: 100%;
  height: 70vh;
}
.product-list-section {
  flex: 3;
}
.product-list-section>h3{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.product-list-cards-container {
  display: flex;
  flex-wrap: wrap;
    padding: 0 4px;
    gap: 1rem;
    justify-content: center;
}

.product-list-cards-container .product-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 31%;
  background-color: #fff;
  margin-top: 1.5rem;
  border-radius: 5px 5px 0 0;
  color: black;
  text-decoration: none;
  position: relative;
}
.product-list-cards-container .product-card h5 {
  font-weight: 600;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
  display: inline-block;
  overflow: hidden;
  margin: 0.4rem 0 0 0;
}
.product-list-cards-container .product-card p {
  font-size: 0.9rem;
  margin: 0.3rem 0 0 0;
}
.product-list-cards-container .product-card img {
  border-radius: 5px 5px 0 0;
}
.product-list-cards-container .product-card span {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.4rem;
}
.product-card .add-to-fav{
    position: absolute;
    border: none;
    background-color: unset;
    top: 3px;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:580px) {
  .products-list-compo-container{
    margin: 1rem 4%;
  }
}
@media (max-width:500px) {
  .product-list-cards-container .product-card{
    width: 40%;
  }
}